.overlay {
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* pointer-events: none; */
}

/* .modal {
  background-color: #fff;
  padding: 5rem;
  width: 80%;
  height: 70%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
} */

.modalImage {
  max-width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  translate: 0 0;
  transition-duration: 950ms;

  @media (width > 767px) {
    /* width: 70%;
    height: 80%; */
    margin: 0 auto;
    padding: 2rem;
  }

  @starting-style {
    translate: 0 -25vh;
    opacity: 0;
  }
}
.modalImageContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem; */
  width: fit-content;
  /* height: 100%; */

  & img {
    object-fit: contain;
    /* height: 100%; */
    width: 100%;
    max-height: 600px;
    border-radius: 8px;
  }
}
.closeBtn {
  display: block;
  margin-left: auto;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  margin-bottom: 5px;
  border-radius: 8px;
  border: none;
  background-color: rgb(204, 204, 204, 0.9);
  transition: all 250ms ease-in-out;

  @media (width > 767px) {
  }
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.prevSlide,
.nextSlide {
  position: absolute;
  top: 50%;
  z-index: 400;
  /* transform: translate(-50%, -50%); */
  fill: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* transition: all 250ms ease-in-out; */

  @media (width > 767px) {
    width: 50px;
    height: 50px;
  }
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
.prevSlide {
  left: 20px;
  /* left: 50%; */
}

.nextSlide {
  right: 20px;
  /* right: 50%; */
}
