.serviceWrapper {
  h1 {
    text-align: left;
    margin-bottom: 0.5rem;
  }

  p {
    text-align: justify;
    margin: 1rem 0;
  }

  .serviceListDescription p {
    margin: 0;
  }
}

.serviceList {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  text-align: left;
  list-style: disc;
  /* list-style-position: inside; */
  margin: 0.5rem 0;
  padding: 0 0.5rem;
}
