.galleryWrapper {
  --d: 20s;

  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  padding: 1rem;
  max-width: 1440px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0)
  );
  z-index: 100;

  /* @media (width > 767px) { */
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
  /* } */
}
.galleryList {
  /* position: relative; */
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-inline: auto; */
  gap: 20px;
  border-radius: 8px;
  /* height: 200px; */

  @media (width > 767px) {
    height: 400px;
  }
}
.galleryList:hover .galleryListContainer {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes swipe {
  to {
    /* left: -300px; */
    transform: translateX(-1250px);
  }
}

@media (width > 767px) {
  @keyframes swipe {
    to {
      transform: translateX(-1000px);
    }
  }
}
.galleryListContainer {
  /* position: absolute; */
  left: -100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* margin: 10px 0; */
  border-radius: 8px;
  width: 150px;
  animation: var(--d) linear 1s infinite alternate swipe;
  /* animation: var(--d) swipe 1s infinite linear; */

  @media (width > 767px) {
    width: 250px;
  }
  & img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.galleryItems {
  /* display: inline-block;
  margin: 10px 0; */

  /* & p {
    margin: 1rem 0;
  } */
}
.galleryTitle {
  padding: 0.75rem 0;
  background-color: #e9c46a;
  /* background-color: rgba(146, 194, 242, 0.669); */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}
