.section {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 0.5rem;
}
.title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
h3 {
  text-align: left;
  margin-top: 1rem;
  text-transform: uppercase;
}
.address {
  margin-bottom: 1rem;
  opacity: 0.7;
  font-size: 1rem;

  @media (width > 767px) {
    font-size: 1.5rem;
  }
}
.facade,
.facadeMap {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  cursor: pointer;
}
.content {
  margin: 1rem 0;
  text-align: justify;
}

.contentMap {
  font-size: 1rem;
  font-weight: 700;

  @media (width > 767px) {
    font-size: 1.5rem;
  }
}
.featureList {
  text-align: left;
  list-style: inside;
  color: #777777;

  & span {
    font-weight: 600;
  }
}
