.overlay {
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalImage {
  max-width: 1024px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  translate: 0 0;
  transition-duration: 950ms;

  @media (width > 767px) {
    margin: 0 auto;
    padding: 2rem;
  }

  @starting-style {
    translate: 0 -25vh;
    opacity: 0;
  }
}
.modalImageContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  & img {
    object-fit: contain;
    width: 100%;
    max-height: 600px;
    border-radius: 8px;
  }
}
.closeBtn {
  display: block;
  margin-left: auto;
  fill: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 250ms ease-in-out;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5rem;

  &:hover {
    opacity: 0.7;
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

.prevSlide,
.nextSlide {
  position: absolute;
  top: 50%;
  z-index: 400;
  fill: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  @media (width > 767px) {
    width: 50px;
    height: 50px;
  }
  &:hover {
    opacity: 0.7;
  }
}
.prevSlide {
  left: 20px;
}

.nextSlide {
  right: 20px;
}
