/* $n: 6; */ /* number of elements */

.container {
  --d: 15s; /* duration */
  display: flex;
  /* grid-template-columns: repeat(
    3,
    300px
    ); number of visible elements + width */
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
}
.container > div {
  width: 300px;
  max-width: 1024px;
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-content: center;
  gap: 10px;
  background: #fff padding-box;
  border-inline: 10px solid #0000;
  animation: r var(--d) linear infinite;
}
@keyframes r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}
.container > div img {
  width: 100%;
  grid-row: span 2;
}
.container > div * {
  margin: 0;
}
.container > div h3 {
  margin-top: auto;
}
