.contactsWrapper {
  width: 100%;
  /* margin: 1rem 0 1rem; */
  /* color: var(--PRIMARY-COLOR); */
  background-color: var(--SECONDARY-COLOR);
  /* background-color: rgba(0, 118, 182, 0.691); */
}
.contactsList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel a {
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  transition: color 0.3s ease;
}
.tel a:hover {
  color: rgba(36, 36, 36, 0.584);
}
