.contactsWrapper {
  width: 100%;
  max-width: 1024px;
  gap: 10px;

  @media (width > 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & h1 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}
.contactsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1rem 0;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  & li {
    display: flex;
    align-items: center;
    gap: 5px;

    @media (width > 767px) {
    }
  }
}
.contactsContent {
  text-align: left;
}
.tel a {
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
  transition: color 0.3s ease;
}
.tel a:hover {
  color: rgba(36, 36, 36, 0.584);
}
.form {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 118, 182, 0.122);
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (width > 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.formWrapper {
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}
.formField {
  display: block;
}
.formLabel {
  display: block;
  margin: 0.5rem 0;
  font-weight: 700;
  text-align: left;

  @media (width > 767px) {
    text-align: center;
  }

  @media (width > 1023px) {
    padding: 0 3rem;
    text-align: left;
  }
}
.formInput,
.textArea {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  font-family: monospace, Roboto;
  font-size: 1rem;

  @media (width > 767px) {
    width: 80%;
  }
}

.textArea {
  resize: none;
  padding: 1rem;
  grid-row: 5;
}
button {
  background-color: #007bff;
  margin: 1rem 0;
}
